.DS_Store
.ipynb*
*.csv
fr.openfoodfacts.org.products.csv
*.data
*.names
*.zip
__pycache__
*.xlsx
models/
tmp_*
*.tsv
mlruns/
old/
dist/
venv/
*.h5
*.keras
*.pkl
params.json
glove/
*.tar.gz
aclImdb/
logs/
results/
data/
roulette/
*.tar
OC/P9/v1-cnn-encoder/dataset
OC/P9/v1-cnn-encoder/output