ipykernel
numpy
pandas
matplotlib
tensorflow
tqdm
seaborn
ipykernel
pyarrow
opencv-python
torch
torchvision
scikit-learn
torchvision 
torchaudio
tensorflow-metal
tensorflow-macos
tensorflow_datasets
albumentations
keras-segmentation