numpy
pandas
matplotlib
tensorflow
tqdm
seaborn
ipykernel
pyarrow
opencv-python
torch
torchvision
scikit-learn

tensorflow-metal
tensorflow-macos
tensorflow_datasets
git+https://github.com/tensorflow/examples.git
roboflow